<h1 class="with-underline">Statin Safety Recommendations</h1>
<div data-bind="ui-accordion: {}" class="accordion">
    <div>
        <h2 class="toggle"><i class="fa fa-holder"></i><span class="text">Statin Selection</span></h2>
        <div class="collapsable-panel ">
            <div class="bar close">
                <a class="action-btn close" data-bind="click:panelHide">
                <i class="fa fa-holder"></i>close</a>
            </div>
            <div class="content">
                <p>To maximize the safety of statins, selection of the appropriate statin and dose in men and nonpregnant/nonnursing women should be based on patient characteristics, level of ASCVD risk, and potential for adverse effects. </p>
                <p>Moderate-intensity statin therapy should be used in individuals in whom high-intensity statin therapy would otherwise be recommended when characteristics predisposing them to statin associated adverse effects are present.</p>
                <p>Characteristics predisposing individuals to statin adverse effects include, but are not limited to: (I B)</p>
                <ul>
                    <li>Multiple or serious comorbidities, including impaired renal or hepatic function.</li>
                    <li>History of previous statin intolerance or muscle disorders.</li>
                    <li>Unexplained ALT elevations >3 times ULN.</li>
                    <li>Patient characteristics or concomitant use of drugs affecting statin metabolism.</li>
                    <li>&gt;75 years of age.</li>
                </ul>
                <p>Additional characteristics that may modify the decision to use higher statin intensities may include, but are not limited to:</p>
                <ul>
                    <li>History of hemorrhagic stroke.</li>
                    <li>Asian ancestry.</li>
                </ul>
            </div>
            <div class="bar jumpToTop">
                <a class="action-btn top" data-bind="click:panelScrollTop">
                <i class="fa fa-holder"></i>top</a>
            </div>
        </div>
    </div>
    <div> <h2 class="toggle"><i class="fa fa-holder"></i><span class="text">Statin Dosage</span></h2>
        <div class="collapsable-panel ">
            <div class="bar close">
                <a class="action-btn close" data-bind="click:panelHide">
                <i class="fa fa-holder"></i>close</a>
            </div>
            <div class="content">
                <ul>
                    <li>Decreasing the statin dose may be considered when 2 consecutive values of LDL-C levels are &lt;40 mg/dL. (IIb C)</li>
                    <li>It may be harmful to initiate simvastatin at 80 mg daily or increase the dose of simvastatin to 80 mg daily. (III A)</li>
                </ul>
            </div>
            <div class="bar jumpToTop">
                <a class="action-btn top" data-bind="click:panelScrollTop">
                <i class="fa fa-holder"></i>top</a>
            </div>
        </div>
    </div>
    <div><h2 class="toggle"><i class="fa fa-holder"></i><span class="text">Creatine Kinase (CK)</span></h2>
        <div class="collapsable-panel ">
            <div class="bar close">
                <a class="action-btn close" data-bind="click:panelHide">
                <i class="fa fa-holder"></i>close</a>
            </div>
            <div class="content">
                <ul>
                    <li>CK should not be routinely measured in individuals receiving statin therapy. (III A)</li>
                    <li>Baseline measurement of CK is reasonable for individuals believed to be at increased risk for adverse muscle events based on a personal or family history of statin intolerance or muscle disease, clinical presentation, or concomitant drug therapy that might increase the risk for myopathy. (IIa C)</li>
                    <li>During statin therapy, it is reasonable to measure CK in individuals with muscle symptoms, including pain, tenderness, stiffness, cramping, weakness, or generalized fatigue. (II C)</li>
                </ul>
            </div>
            <div class="bar jumpToTop">
                <a class="action-btn top" data-bind="click:panelScrollTop">
                <i class="fa fa-holder"></i>top</a>
            </div>
        </div>
    </div>
    <div><h2 class="toggle"><i class="fa fa-holder"></i><span class="text">Muscle Symptoms</span></h2>
        <div class="collapsable-panel ">
            <div class="bar close">
                <a class="action-btn close" data-bind="click:panelHide">
                <i class="fa fa-holder"></i>close</a>
            </div>
            <div class="content">
                <p>It is reasonable to evaluate and treat muscle symptoms, including pain, tenderness, stiffness, cramping, weakness, or fatigue, in statin-treated patients according to the following management algorithm: (IIa B)</p>
                <ul>
                    <li>To avoid unnecessary discontinuation of statins, obtain a history of prior or current muscle symptoms to establish a baseline before initiating statin therapy.</li>
                    <li>If unexplained severe muscle symptoms or fatigue develop during statin therapy, promptly discontinue the statin and address the possibility of rhabdomyolysis by evaluating CK, creatinine, and a urinalysis for myoglobinuria.</li>
                    <li>If mild to moderate muscle symptoms develop during statin therapy:
                        <ul>
                            <li>Discontinue the statin until the symptoms can be evaluated.</li>
                            <li>Evaluate the patient for other conditions that might increase the risk for muscle symptoms (e.g., hypothyroidism, reduced renal or hepatic function, rheumatologic disorders such as polymyalgia rheumatica, steroid myopathy, vitamin D deficiency, or primary muscle diseases).</li>
                            <li>If muscle symptoms resolve, and if no contraindication exists, give the patient the original or a lower dose of the same statin to establish a causal relationship between the muscle symptoms and statin therapy.</li>
                            <li>If a causal relationship exists, discontinue the original statin. Once muscle symptoms resolve, use a low dose of a different statin.</li>
                            <li>Once a low dose of a statin is tolerated, gradually increase the dose as tolerated.</li>
                            <li>If, after 2 months without statin treatment, muscle symptoms or elevated CK levels do not resolve completely, consider other causes of muscle symptoms listed above.</li>
                            <li>If persistent muscle symptoms are determined to arise from a condition unrelated to statin therapy, or if the predisposing condition has been treated, resume statin therapy at the original dose.</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="bar jumpToTop">
                <a class="action-btn top" data-bind="click:panelScrollTop">
                <i class="fa fa-holder"></i>top</a>
            </div>
        </div>
    </div>
    <div>
        <h2 class="toggle"><i class="fa fa-holder"></i><span class="text">Hepatic Function</span></h2>
        <div class="collapsable-panel ">
            <div class="bar close">
                <a class="action-btn close" data-bind="click:panelHide">
                <i class="fa fa-holder"></i>close</a>
            </div>
            <div class="content">
                <ul>
                    <li>Baseline measurement of hepatic transaminase levels (ALT) should be performed before initiating statin therapy. (I B)</li>
                    <li>During statin therapy, it is reasonable to measure hepatic function if symptoms suggesting hepatotoxicity arise (e.g., unusual fatigue or weakness, loss of appetite, abdominal pain, dark colored urine or yellowing of the skin or sclera). (IIa C)</li>
                </ul>
                </div>
                <div class="bar jumpToTop">
                    <a class="action-btn top" data-bind="click:panelScrollTop">
                    <i class="fa fa-holder"></i>top</a>
                </div>
            </div>
        </div>
        <div>
            <h2 class="toggle"><i class="fa fa-holder"></i><span class="text">Diabetes</span></h2>
            <div class="collapsable-panel ">
                <div class="bar close">
                    <a class="action-btn close" data-bind="click:panelHide">
                    <i class="fa fa-holder"></i>close</a>
                </div>
                <div class="content">
                    <p>Individuals receiving statin therapy should be evaluated for new-onset diabetes mellitus according to the current diabetes screening  guidelines. Those who develop diabetes mellitus during statin therapy should be encouraged to adhere to a heart healthy dietary pattern, engage in physical activity, achieve and maintain a healthy body weight, cease tobacco use, and continue statin therapy to reduce their risk of ASCVD events. (I B)</p>
                </div>
                <div class="bar jumpToTop">
                    <a class="action-btn top" data-bind="click:panelScrollTop">
                    <i class="fa fa-holder"></i>top</a>
                </div>
            </div>
        </div>
        <div><h2 class="toggle"><i class="fa fa-holder"></i><span class="text">Age and Drug Regimen Consideration</span></h2>
            <div class="collapsable-panel ">
                <div class="bar close">
                    <a class="action-btn close" data-bind="click:panelHide">
                    <i class="fa fa-holder"></i>close</a>
                </div>
                <div class="content">
                    <p>For individuals taking any dose of statins, it is reasonable to use caution in individuals >75 years of age, as well as in individuals that are taking concomitant medications that alter drug metabolism, taking multiple drugs, or taking drugs for conditions that require complex medication regimens (e.g., those who have undergone solid organ transplantation or are receiving treatment for HIV). A review of the manufacturer's prescribing information may be useful before initiating any cholesterol-lowering drug. (IIa C)</p>
                </div>
                <div class="bar jumpToTop">
                    <a class="action-btn top" data-bind="click:panelScrollTop">
                    <i class="fa fa-holder"></i>top</a>
                </div>
            </div>
        </div>
        <div>
            <h2 class="toggle"><i class="fa fa-holder"></i><span class="text">Cognitive Impairment</span></h2>
            <div class="collapsable-panel ">
                <div class="bar close">
                    <a class="action-btn close" data-bind="click:panelHide">
                    <i class="fa fa-holder"></i>close</a>
                </div>
                <div class="content">
                    <p>For individuals presenting with a confusional state or memory impairment while on statin therapy, it may be reasonable to evaluate the patient for nonstatin causes, such as exposure to other drugs, as well as for systemic and neuropsychiatric causes, in addition to the possibility of adverse effects associated with statin drug therapy. (IIb C) </p>
                </div>
                <div class="bar jumpToTop">
                    <a class="action-btn top" data-bind="click:panelScrollTop">
                    <i class="fa fa-holder"></i>top</a>
                </div>
            </div>
        </div>
    </div>