<h1  class="with-underline">Diet recommendations</h1>
<div  data-bind="ui-accordion: {}" class="accordion">
<div>
    <h2 class="toggle"><i class="fa fa-holder"></i><span class="text">Diet recommendations for LDL-C lowering</span></h2>
    <div class="collapsable-panel ">
        <div class="bar close">
            <a class="action-btn close" data-bind="click:panelHide">
            <i class="fa fa-holder"></i>close</a>
        </div>
        <div class="content">
            <ol>
                <li>Consume a dietary pattern that emphasizes intake of vegetables, fruits, and whole grains; includes low-fat dairy products, poultry, fish, legumes, non-tropical vegetable oils and nuts; and limits intake of sweets, sugar-sweetened beverages, and red meats. (I A)
                    <ul>
                        <li>Adapt this dietary pattern to appropriate calorie requirements, personal and cultural food preferences, and nutrition therapy for other medical conditions (including diabetes mellitus).</li>
                        <li>Achieve this pattern by following plans such as the DASH dietary pattern, the USDA Food Pattern, or the AHA Diet.</li>
                    </ul>
                </li>
                <li>Aim for a dietary pattern that achieves 5-6% of calories from saturated fat. (I A)</li>
                <li>Reduce percent of calories from saturated fat. (I A)</li>
                <li>Reduce percent of calories from trans fat. (I A)</li>
            </ol>
            <h3>Diet recommendations for blood pressure lowering</h3>
            <ol>
                <li>Consume a dietary pattern that emphasizes intake of vegetables, fruits, and whole grains; includes low-fat dairy products, poultry, fish, legumes, non-tropical vegetable oils and nuts; and limits intake of sweets, sugar-sweetened beverages, and red meats. (I A)
                    <ul>
                        <li>Adapt this dietary pattern to appropriate calorie requirements, personal and cultural food preferences, and nutrition therapy for other medical conditions (including diabetes mellitus).</li>
                        <li>Achieve this pattern by following plans such as the DASH dietary pattern, the USDA Food Pattern, or the AHA Diet.</li>
                    </ul>
                </li>
                <li>Lower sodium intake. (I A)</li>
                <li>Consume no more than 2400 mg of sodium per day. (I B)</li>
            </ol>
 </div>
                <div class="bar jumpToTop">
                    <a class="action-btn top" data-bind="click:panelScrollTop">
                    <i class="fa fa-holder"></i>top</a>
                </div>
            </div>
        </div>
    <div>
        <h2 class="toggle"><i class="fa fa-holder"></i><span class="text">Weight Management Recommendations</span></h2>
        <div class="collapsable-panel ">
            <div class="bar close">
                <a class="action-btn close" data-bind="click:panelHide">
                <i class="fa fa-holder"></i>close</a>
            </div>
            <div class="content">
            <h3>Diets for weight loss</h3>
            <ol>
                <li>Prescribe a diet to achieve reduced calorie intake for obese or overweight individuals who would benefit from weight loss, as part of a comprehensive lifestyle intervention with 1 of the following (I A):
                    <ul>
                        <li>1200-1500 kcal/day for women and 1500-1800 kcal/day for men.</li>
                        <li>500-750 kcal/day energy deficit.</li>
                        <li>Use one of the evidence-based diets that restricts certain food types (e.g., high-carbohydrate foods, low-fiber foods, or high-fat foods) in order to create an energy deficit by reduced food intake.</li>
                    </ul>
                </li>
                <li>Prescribe a calorie-restricted diet for obese or overweight individuals who would benefit from weight loss, based on the patient's preferences and health status, and preferably refer to a nutrition professional for counseling. (I A)</li>
            </ol>
            <h3>Lifestyle interventions and counseling for weight loss</h3>
            <ol>
                <li>Advise participation in a comprehensive lifestyle program that assists participants in adhering to a lower calorie diet and increasing physical activity through the use of behavioral strategies. (I A)</li>
                <li>Prescribe on site, high-intensity (i.e., &gt;14 sessions in 6 months) comprehensive weight loss interventions provided in individual or group sessions by a trained interventionist. (I A)</li>
                <li>Consider prescription of electronically delivered weight loss programs (including by telephone) that includes personalized feedback from a trained interventionist, recognizing that it may result in smaller weight loss than face-to-face interventions. (IIa A)</li>
                <li>Consider some commercial-based programs that provide comprehensive lifestyle interventions, provided there is peer-reviewed published evidence of their safety and efficacy. (IIa A)</li>
                <li>Consider a very low calorie diet (&lt;800 kcal/day) only in limited circumstances and only when provided by trained practitioners in a medical care setting where medical monitoring and high intensity lifestyle intervention can be provided. (IIa A)</li>
                <li>Advise individuals who have lost weight to participate long term (&gt;1 year) in a comprehensive weight loss maintenance program. (I A)</li>
                <li>Prescribe face-to-face or telephone-delivered weight loss maintenance programs that provide regular contact (&gt; monthly) with a trained interventionist who helps participants engage in high levels of physical activity (i.e., 200-300 minutes/week), monitor body weight regularly (&gt; weekly), and consume a reduced-calorie diet (need to lower body weight). (I A)</li>
            </ol>
            <h3>Selection criteria for bariatric surgical treatment of obesity</h3>
            <ol>
                <li>Advise adults with a BMI &ge;40 kg/m2 or BMI &ge;35 kg/m2 with obesity-related co-morbid conditions who are motivated to lose weight and who have not responded to behavioral treatment with or without pharmacotherapy with sufficient weight loss to achieve targeted health outcome goals that bariatric surgery may be an appropriate option to improve health and offer referral to an experienced bariatric surgeon for consultation and evaluation. (IIa A)</li>
            </ol>
 </div>
                <div class="bar jumpToTop">
                    <a class="action-btn top" data-bind="click:panelScrollTop">
                    <i class="fa fa-holder"></i>top</a>
                </div>
            </div>
        </div>
<div>
    <h2 class="toggle"><i class="fa fa-holder"></i><span class="text">Physical Activity Recommendations</span></h2>
    <div class="collapsable-panel ">
        <div class="bar close">
            <a class="action-btn close" data-bind="click:panelHide">
            <i class="fa fa-holder"></i>close</a>
        </div>
        <div class="content">
            <h3>Physical activity recommendations for modifying lipids and blood pressure lowering</h3>
            <ol>
                <li>Advise adults to engage in aerobic physical activity to reduce LDL-cholesterol, non-HDL-cholesterol, and blood pressure. (IIa A)
                    <ul>
                        <li>Frequency: 3-4 sessions a week</li>
                        <li>Intensity: Moderate to vigorous</li>
                        <li>Duration: 40 minutes on average</li>
                    </ul>
                </li>
            </ol>
            <h3>Physical activity recommendations for secondary prevention*</h3>
            <ol>
                <li>Aerobic exercise
                    <ul>
                        <li>Frequency: 3-5 days/week</li>
                        <li>Intensity: 50-80% of exercise capacity</li>
                        <li>Duration: 20-60 minutes</li>
                        <li>Modalities: Examples include walking, treadmill, cycling, rowing, stair climbing, and arm/leg ergometry</li>
                    </ul>
                </li>
                <li>Resistance exercise
                    <ul>
                        <li>Frequency: 2-3 days/week</li>
                        <li>Intensity: 10-15 repetitions/set to moderate fatigue</li>
                        <li>Duration: 1-3 sets of 8-10 upper and lower body exercises</li>
                        <li>Modalities: Examples include calisthenics, elastic bands, cuff/hand weights, dumbbells, free weights, wall pulleys, and weight machines</li>
                    </ul>
                </li>
            </ol>
            <cite class="quiet">*Balady GJ et al. Core components of cardiac rehabilitation/secondary prevention programs: 2007 update: a Scientific Statement of the American Heart Association Exercise, Cardiac Rehabilitation, and Prevention Committee, the Council on Clinical Cardiology; the Councils on Cardiovascular Nursing, Epidemiology and Prevention, and Nutrition, Physical Activity and Metabolism; and the American Association of Cardiovascular and Pulmonary Rehabilitation. Circulation 2007;115:2675-2682</cite>
 </div>
                <div class="bar jumpToTop">
                    <a class="action-btn top" data-bind="click:panelScrollTop">
                    <i class="fa fa-holder"></i>top</a>
                </div>
            </div>
        </div>
<div>
    <h2 class="toggle"><i class="fa fa-holder"></i><span class="text">Tobacco Cessation Recommendations</span></h2>
    <div class="collapsable-panel ">
        <div class="bar close">
            <a class="action-btn close" data-bind="click:panelHide">
            <i class="fa fa-holder"></i>close</a>
        </div>
        <div class="content">
            <h3>5 R's for patients not ready to quit</h3>
            <ol>
                <li>Relevance&mdash;Encourage the patient to indicate why quitting is personally relevant.</li>
                <li>Risks&mdash;Ask the patient to identify potential negative consequences of tobacco use.</li>
                <li>Rewards&mdash;Ask the patient to identify potential benefits of stopping tobacco use.</li>
                <li>Roadblocks&mdash;Ask the patient to identify barriers or impediments to quitting.</li>
                <li>Repetition&mdash;The motivational intervention should be repeated every time an unmotivated patient has an interaction with a clinician.  Tobacco users who have failed in previous quit attempts should be told that most people make repeated quit attempts before they are successful.</li>
            </ol>
            <h3>5 A's for patients that are ready to quit</h3>
            <ol>
                <li>Ask&mdash;Systematically identify all tobacco users at every visit.</li>
                <li>Advise&mdash;Strongly urge all smokers to quit.</li>
                <li>Assess&mdash;Identify smokers willing to make a quit attempt.</li>
                <li>Assist&mdash;Aid the patient in quitting.</li>
                <li>Arrange&mdash;Schedule follow-up contact.</li>
            </ol>
 </div>
                <div class="bar jumpToTop">
                    <a class="action-btn top" data-bind="click:panelScrollTop">
                    <i class="fa fa-holder"></i>top</a>
                </div>
            </div>
        </div>
</div>