<h1>Recommendations for Initiation of Statin Therapy</h1>
<div class="holder" style="position: relative">
    <div class="parent panzoom">
        <div class="panzoom-element">
            <img src="assets/img/squared_metal_@2X.png" data-src="assets/graphics/statin-therapy-flowcharts.svg" alt="infographic on statin therapy"
            style="width:100%">
        </div>
    </div>
    <div class="button-group small panzoom-buttons expanded">
        <button class="zoom-in button icon-only  secondary" formnovalidate> <i class="fa fa-plus-circle"></i> <span class="text">Zoom In</span></button>
        <button class="zoom-out button icon-only  secondary" formnovalidate><i class="fa fa-minus-circle"></i> <span class="text">Zoom Out</span></button>
        <button class="reset ui-btn button icon-only  secondary" formnovalidate><i class="fa fa-refresh"></i> <span class="text">Reset</span></button>
    </div>
</div>

<div class="page-wrapper ">
    <div class="content-padding">
        <p class="quiet">This flow diagram is intended to serve as an easy reference guide summarizing recommendations for ASCVD risk assessment and treatment. Assessment of the potential for benefit and risk from statin therapy for ASCVD prevention provides the framework for clinical decision making incorporating patient preferences.</p>
        <p class="quiet"><strong>*</strong> Percent reduction in LDL&ndash;C can be used as an indication of response and adherence to therapy, but is not in itself a treatment goal.</p>
        <p class="quiet"><strong>&dagger;</strong> The Pooled Cohort Equations can be used to estimate 10-year ASCVD risk in individuals with and without diabetes. The estimator within this application should be used to inform decision making in primary prevention patients not on a statin.</p>
        <p class="quiet"><strong>&Dagger;</strong> Consider moderate-intensity statin as more appropriate in low-risk individuals.</p>
        <p class="quiet"><strong>&sect;</strong> For those in whom a risk assessment is uncertain, consider factors such as primary LDL&ndash;C &ge;160 mg/dL or other evidence of genetic hyperlipidemias, family history of premature ASCVD with onset &lt;55 years of age in a first-degree male relative or &lt;65 years of age in a first-degree female relative, hs-CRP &gt;2 mg/L, CAC score &ge;300 Agatston units, or &ge;75th percentile for age, sex, and ethnicity (for additional information, see http://www.mesa-nhlbi.org/CACReference.aspx), ABI &lt;0.9, or lifetime risk of ASCVD. Additional factors that may aid in individual risk assessment may be identified in the future.</p>
        <p class="quiet"><strong>||</strong> Potential ASCVD risk-reduction benefits. The absolute reduction in ASCVD events from moderate- or high-intensity statin therapy can be approximated by multiplying the estimated 10-year ASCVD risk by the anticipated relative risk reduction from the intensity of statin initiated (~30% for moderate-intensity statin or ~45% for high-intensity statin therapy). The net ASCVD risk reduction benefit is estimated from the number of potential ASCVD events prevented with a statin compared to the number of potential excess adverse events.</p>
        <p class="quiet"><strong>&para;</strong> Potential adverse effects. The excess risk of diabetes is the main consideration in ~0.1 excess cases per 100 individuals treated with a moderate-intensity statin for 1 year and ~0.3 excess cases per 100 individuals treated with a high-intensity statin for 1 year. In RCTs, both statin-treated and placebo-treated participants experienced the same rate of muscle symptoms. The actual rate of statin-related muscle symptoms in the clinical population is unclear. Muscle symptoms attributed to statin therapy should be evaluated (see Statin Safety Recommendations).</p>
        <p class="quiet"> ABI indicates ankle-brachial index; ASCVD, atherosclerotic cardiovascular disease; CAC, coronary artery calcium; hs-CRP, high-sensitivity C-reactive protein; LDL&ndash;C, low-density lipoprotein cholesterol; MI, myocardial infarction; RCT, randomized controlled trial.</p> 
    </div>
</div>
        