<h1>Recommendations to Monitor Response to Statin Therapy</h1>
 <div class="holder" style="position: relative">
    <div class="parent panzoom">
        <div class="panzoom-element">
            <img src="assets/img/squared_metal_@2X.png" data-src="assets/graphics/statin-monitor-flowchart.svg" alt="infographic on statin therapy" style="width:100%">
        </div>
    </div>
    <div class="button-group small panzoom-buttons expanded">
        <button class="zoom-in button icon-only  secondary" formnovalidate> <i class="fa fa-plus-circle"></i> <span class="text">Zoom In</span></button>
        <button class="zoom-out button icon-only  secondary" formnovalidate><i class="fa fa-minus-circle"></i> <span class="text">Zoom Out</span></button>
        <button class="reset ui-btn button icon-only  secondary" formnovalidate><i class="fa fa-refresh"></i> <span class="text">Reset</span></button>
    </div>
</div>
<p class="quiet"><strong>*</strong>Fasting lipid panel preferred. In a nonfasting individual, a non&ndash;HDL&ndash;C &gt;220 mg/dL may indicate genetic hypercholesterolemia that requires further evaluation or a secondary etiology. If nonfasting triglycerides are &gt;500 mg/dL, a fasting lipid panel is required.</p>
<p class="quiet"><strong>&dagger;</strong>In those already on a statin, in whom baseline LDL&ndash;C is unknown, an LDL&ndash;C &lt;100 mg/dL was observed in mostindividuals receiving high-intensity statin therapy in RCT.s</p>
<p class="quiet"><strong>&Dagger;</strong>Refer to Statin Safety Recommendations</p>
