<h1>External Links &amp; References</h1>
<nav class="nav nav-list small">
    <ul >
        <li><a target="blank" href="http://circ.ahajournals.org/content/129/25_suppl_2/S49.full.pdf">
            <span class="text">2013 ACC/AHA  Guideline on the Assessment of Cardiovascular Risk</span><i class="fa fa-holder-dynamic"></i>
        </a></li>
        <li><a target="blank" href="http://circ.ahajournals.org/content/129/25_suppl_2/S1.full.pdf">
            <span class="text">2013 ACC/AHA  Guideline on the Treatment of Blood Cholesterol to Reduce Atherosclerotic  Cardiovascular Risk in Adults</span><i class="fa fa-holder-dynamic"></i>
        </a></li>
        <li><a target="blank" href="http://circ.ahajournals.org/content/129/25_suppl_2/S102.full.pdf">
            <span class="text">2013  AHA/ACC/TOS Guideline for the Management of Overweight and Obesity in Adults</span><i class="fa fa-holder-dynamic"></i>
        </a></li>
        <li><a target="blank" href="http://circ.ahajournals.org/content/129/25_suppl_2/S76.full.pdf">
            <span class="text">2013 AHA/ACC Guideline on Lifestyle Management to Reduce Cardiovascular Risk</span><i class="fa fa-holder-dynamic"></i>
        </a></li>
        <li><a target="blank" href="http://www.ncbi.nlm.nih.gov/books/NBK63952/">
            <span class="text">2008 AHRQ Guideline on Treating Tobacco Use and Dependence</span><i class="fa fa-holder-dynamic"></i>
        </a></li>
        <li><a target="blank" href="http://ldl.cardiosource.org/">
            <span class="text">ACC Dyslipidemia Clinical Community</span><i class="fa fa-holder-dynamic"></i>
        </a></li>
        <li><a target="blank" href="http://cardiometabolic.cardiosource.org/">
            <span class="text">ACC  Cardiometabolic Clinical Community</span><i class="fa fa-holder-dynamic"></i>
        </a></li>
        <li><a target="blank" href="http://www.cardiosource.org/~/media/Files/Science%20and%20Quality/Guidelines/Clinical_Documents/Prevention%20Guidelines%20Clinical%20Vignettes.pdf">
            <span class="text">Clinical  Vignettes</span><i class="fa fa-holder-dynamic"></i>
        </a></li>
    </ul>
</nav>