<h1 class="with-underline">Groups that Benefit from Statin Therapy</h1>


<div data-bind="ui-accordion: {}" class="accordion">
    <div>
        <h2 class="toggle"><i class="fa fa-holder"></i><span class="text">1. Secondary Prevention:</span> <span class="sub-line">Clinical ASCVD</span></h2>
        <div class="collapsable-panel ">
            <div class="bar close">
                <a class="action-btn close" data-bind="click:panelHide">
                <i class="fa fa-holder"></i>close</a>
            </div>
            <div class="content">


            <p>Clinical ASCVD includes acute coronary syndromes, history of MI, stable or unstable angina, coronary or other arterial revascularization, stroke, TIA, or peripheral arterial disease presumed to be of atherosclerotic origin.</p>

            <p>High-intensity statin therapy should be initiated or continued as first-line therapy in women and men &le;75 years of age who have clinical ASCVD, unless contraindicated. (I A)</p>

            <p>In individuals with clinical ASCVD in whom high-intensity statin therapy would otherwise be used, when high-intensity statin therapy is contraindicated or when characteristics predisposing to statin-associated adverse effects are present, moderate-intensity statin should be used as the second option if tolerated. (I A)</p>

            <p>In individuals with clinical ASCVD &gt;75 years of age, it is reasonable to evaluate the potential for ASCVD risk-reduction benefits and for adverse effects, drug-drug interactions and to consider patient preferences, when initiating a moderate- or high-intensity statin. It is reasonable to continue statin therapy in those who are tolerating it. (IIa B)</p>
          
        </div>
            <div class="bar jumpToTop">
                <a class="action-btn top" data-bind="click:panelScrollTop">
                <i class="fa fa-holder"></i>top</a>
            </div>
        </div>
    </div>

      
    <div>
        <h2 class="toggle"><i class="fa fa-holder"></i><span class="text">2. Primary Prevention: </span> <span class="sub-line">LDL-C &ge;190 mg/dL</span></h2>
        <div class="collapsable-panel ">
            <div class="bar close">
                <a class="action-btn close" data-bind="click:panelHide">
                <i class="fa fa-holder"></i>close</a>
            </div>
            <div class="content">

           

            <p>Individuals with LDL-C &ge;190 mg/dL or triglycerides &ge;500 mg/dL should be evaluated for secondary causes of hyperlipidemia. (I B)</p>

            <p>Adults &ge;21 years of age with primary LDL-C &ge;190 mg/dL should be treated with high-intensity statin therapy unless contraindicated. For individuals unable to tolerate high-intensity statin therapy, use the maximum tolerated statin intensity. (I B) </p>

            <p>For individuals &ge;21 years of age with an untreated primary LDL-C &ge;190 mg/dL, it is reasonable to intensify statin therapy to achieve at least a 50% LDL-C reduction. (IIa B) </p>

            <p>For individuals &ge;21 years of age with an untreated primary LDL-C &ge;190 mg/dL, after the maximum intensity of statin therapy has been achieved, addition of a nonstatin drug may be considered to further lower LDL-C. Evaluate the potential for ASCVD risk reduction benefits, adverse effects, drug-drug interactions, and consider patient preferences. (IIb C) </p>
         
        </div>
            <div class="bar jumpToTop">
                <a class="action-btn top" data-bind="click:panelScrollTop">
                <i class="fa fa-holder"></i>top</a>
            </div>
        </div>
    </div>

      
    <div>
        <h2 class="toggle"><i class="fa fa-holder"></i><span class="text">3. Primary Prevention:</span><span class="sub-line"> Diabetes and aged 40 to 75 years with LDL-C between 70 - 189 mg/dL</span></h2>
        <div class="collapsable-panel ">
            <div class="bar close">
                <a class="action-btn close" data-bind="click:panelHide">
                <i class="fa fa-holder"></i>close</a>
            </div>
            <div class="content">
	       

	        <p>Moderate-intensity statin therapy should be initiated or continued for adults 40 to 75 years of
	        age with diabetes mellitus. (I A)</p>

	        <p>High-intensity statin therapy is reasonable for adults 40 to 75 years of age with diabetes mellitus
	        with a &ge;7.5% estimated 10-year ASCVD risk unless contraindicated. (IIa B)</p>

	        <p>In adults with diabetes mellitus, who are &lt;40 or &gt;75 years of age, it is reasonable to evaluate the
	        potential for ASCVD benefits and for adverse effects, for drug-drug interactions, and to consider
	        patient preferences when deciding to initiate, continue, or intensify statin therapy. (IIa C)</p>
          
        </div>
            <div class="bar jumpToTop">
                <a class="action-btn top" data-bind="click:panelScrollTop">
                <i class="fa fa-holder"></i>top</a>
            </div>
        </div>
    </div>

      
    <div>
        <h2 class="toggle"><i class="fa fa-holder"></i><span class="text">4. Primary Prevention: </span><span class="sub-line">No diabetes and estimated 10-year ASCVD risk of &ge;7.5% who are between 40 to 75 years of age with LDL-C between 70 - 189 mg/dL</span></h2>
        <div class="collapsable-panel ">
            <div class="bar close">
                <a class="action-btn close" data-bind="click:panelHide">
                <i class="fa fa-holder"></i>close</a>
            </div>
            <div class="content">

            <p>
                The Pooled Cohort Equations should be used to estimate 10-year ASCVD risk for individuals
        with LDL-C 70 to 189 mg/dL without clinical ASCVD to guide initiation of statin therapy for
        the primary prevention of ASCVD. (I B)
            </p>

            <p>
                Before initiating statin therapy for the primary
        prevention of ASCVD in adults with LDL-C 70 - 189 mg/dL without clinical ASCVD or diabetes
        it is reasonable for clinicians and patients to engage in a discussion which considers the
        potential for ASCVD risk reduction benefits and for adverse effects, for drug-drug interactions, and
        patient preferences for treatment. (IIa C)
            </p>

            <p>
                Adults 40 to 75 years of age with LDL-C 70 to 189 mg/dL, without clinical ASCVD or diabetes
        and an estimated 10-year ASCVD risk &ge;7.5% should be treated with moderate- to high-intensity
        statin therapy. (I A)
            </p>

            <p>
                It is reasonable to offer treatment with a moderate-intensity
        statin to adults 40 to 75 years of age, with LDL-C 70 to 189 mg/dL, without clinical
        ASCVD or diabetes and an estimated 10-year ASCVD risk of 5% to &lt;7.5%. (IIa B)
            </p>

            

            <p>
                In adults with LDL-C &lt;190 mg/dL who are not otherwise identified in a statin benefit group, or for
        whom after quantitative risk assessment a risk-based treatment decision is uncertain, additional
        factors may be considered to inform treatment decision making. In these individuals, statin
        therapy for primary prevention may be considered after evaluating the potential for ASCVD risk
        reduction benefits, adverse effects, drug-drug interactions, and discussion of patient preferences. (IIb C)
            </p>
           
        </div>
            <div class="bar jumpToTop">
                <a class="action-btn top" data-bind="click:panelScrollTop">
                <i class="fa fa-holder"></i>top</a>
            </div>
        </div>
    </div>

      
    <div>
        <h2 class="toggle"><i class="fa fa-holder"></i><span class="text">Additional Factors</span></h2>
        <div class="collapsable-panel ">
            <div class="bar close">
                <a class="action-btn close" data-bind="click:panelHide">
                <i class="fa fa-holder"></i>close</a>
            </div>
            <div class="content">

            <p><strong>These factors may include:</strong></p>
			          <p>Statin benefit may be less clear in other groups; additional factors may be considered to inform treatment decision making.</p>
            <ol>
                <li>5 to &lt;7.5% 10-year ASCVD risk</li>
                <li>Primary LDL-C &ge;160 mg/dL or other evidence of genetic hyperlipidemias</li>
                <li>Family history of premature ASCVD</li>
                <li>High sensitivity C-reactive protein &ge;2 mg/L</li>
                <li>Coronary artery calcium score &ge;300 Agatston units or &ge;75th percentile for age, sex, and ethnicity</li>
                <li>Ankle-brachial index &lt;0.9</li>
                <li>Lifetime risk of ASCVD</li>
            </ol>
          </div>
            <div class="bar jumpToTop">
                <a class="action-btn top" data-bind="click:panelScrollTop">
                <i class="fa fa-holder"></i>top</a>
            </div>
        </div>
    </div>
        </div>
        
