<h1>
	Blood Cholesterol Recommendation Summary
</h1>
<table class="recommendationTable table">
	<thead>
		<tr class="recommendationTableHeaders swappable medium">
			<th>
				<div class="">
					<strong class="left long-text">
						Recommendations
					</strong>
					<strong class="left short-text">
						REC
					</strong>
				</div>
				<small class="left">
					<a href="#!/content/clinician-split-layout/statin_dose" class="link">
						Click here for Definitions of Statin Intensity
					</a>
				</small>
			</th>
			<th>
				<small class="short-text">
					ACC/ AHA
				</small>
				<small class="long-text">
					ACC/AHA
				</small>
				<strong>
					COR
				</strong>
			</th>
			<th>
				<small class="short-text">
					ACC/ AHA
				</small>
				<small class="long-text">
					ACC/AHA
				</small>
				<strong>
					LOE
				</strong>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="recommendationLevel1" colspan="3">
				A. Heart-healthy lifestyle habits should be encouraged for all individuals.
			</td>
		</tr>
		<tr>
			<td class="recommendationLevel1" colspan="3">
				B
				<em>
					.
				</em>
				The appropriate intensity of statin therapy should be initiated or continued:
				<em></em>
			</td>
		</tr>
		<tr>
			<td colspan="3"class="recommendationLevel2">
				1. Clinical ASCVD*
			</td>
		</tr>
		<tr>
			<td class="recommendationLevel3">
				a. Age &le;75 y and no safety concerns: High-intensity statin
			</td>
			<td class="CORI">
				I
			</td>
			<td class="LOE-A">
				A
			</td>
		</tr>
		<tr>
			<td class="recommendationLevel3">
				b. Age &gt;75 y or safety concerns: Moderate-intensity statin
			</td>
			<td class="CORI">
				I
			</td>
			<td class="LOE-A">
				A
			</td>
		</tr>
		<tr>
			<td class="recommendationLevel2" colspan="3">
				2.
				Primary prevention &ndash; Primary LDL&ndash;C &ge;190 mg/dL
			</td>
		</tr>
		<tr>
			<td class="recommendationLevel3">
				a. Rule out secondary causes of hyperlipidemia
			</td>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td class="recommendationLevel3">
				b. Age &ge;21y: High-intensity statin
			</td>
			<td class="CORI">
				I
			</td>
			<td class="LOE-B">
				B
			</td>
		</tr>
		<tr>
			<td class="recommendationLevel3">
				c. Achieve at least a 50% reduction in LDL&ndash;C
			</td>
			<td class="CORIIa">
				IIa
			</td>
			<td class="LOE-B">
				B
			</td>
		</tr>
		<tr>
			<td class="recommendationLevel3">
				d. LDL&ndash;C lowering nonstatin therapy may be considered to further reduce LDL&ndash;C
			</td>
			<td class="CORIIb">
				IIb
			</td>
			<td class="LOE-C">
				C
			</td>
		</tr>
		<tr>
			<td class="recommendationLevel2"  colspan="3">
				3.
				Primary prevention &ndash; Diabetes 40-75 years of age and LDL&ndash;C 70-189 mg/dL
			</td>
		</tr>
		<tr>
			<td class="recommendationLevel3">
				a. Moderate-intensity statin
			</td>
			<td class="CORI">
				I
			</td>
			<td class="LOE-A">
				A
			</td>
		</tr>
		<tr>
			<td class="recommendationLevel3">
				b. Consider high-intensity statin when &ge;7.5% 10-y ASCVD risk using the Pooled Cohort Equations&dagger;
			</td>
			<td class="CORIIa">
				IIa
			</td>
			<td class="LOE-B">
				B
			</td>
		</tr>
		<tr>
			<td class="recommendationLevel2"  colspan="3">
				4.
				Primary prevention &ndash; No diabetes 40-75 years of age and LDL&ndash;C 70-189 mg/dL
			</td>
		</tr>
		<tr>
			<td class="recommendationLevel3">
				a. Estimate 10-y ASCVD risk using the Risk Calculator based on the Pooled Cohort Equations&dagger; in those NOT receiving a statin; estimate risk
				every 4-6 y
			</td>
			<td class="CORI">
				I
			</td>
			<td class="LOE-B">
				B
			</td>
		</tr>
		<tr>
			<td class="recommendationLevel3">
				b. To determine whether to initiate a statin, engage in a clinician-patient discussion of the potential for ASCVD risk reduction, adverse
				effects, drug-drug interactions, and patient preferences.
			</td>
			<td class="CORIIa">
				IIa
			</td>
			<td class="LOE-C">
				C
			</td>
		</tr>
		<tr>
			<td class="recommendationLevel3">
				c. Re-emphasize heart-healthy lifestyle habits and address other risk factors.
			</td>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td class="recommendationLevel4">
				i. &ge;7.5% 10-y ASCVD risk: Moderate- or high-intensity statin
			</td>
			<td class="CORI">
				I
			</td>
			<td class="LOE-A">
				A
			</td>
		</tr>
		<tr>
			<td class="recommendationLevel4">
				ii. 5 to &lt;7.5% 10-y ASCVD risk: Consider moderate-intensity statin
			</td>
			<td class="CORIIa">
				IIa
			</td>
			<td class="LOE-B">
				B
			</td>
		</tr>
		<tr>
			<td class="recommendationLevel4">
				iii. Other factors may be considered&Dagger;: LDL&ndash;C &ge;160 mg/dL, family history of premature cardiovascular disease, hs-CRP &ge;2.0
				mg/L, CAC score &ge;300 Agaston units, ABI &lt;0.9 or lifetime ASCVD risk
			</td>
			<td class="CORIIb">
				IIb
			</td>
			<td class="LOE-C">
				C
			</td>
		</tr>
		<tr>
			<td class="recommendationLevel2"  colspan="3">
				5.
				Primary prevention when LDL&ndash;C &lt;190 mg/dL and age &lt;40 or &gt;75 y, or &lt;5% 10-y ASCVD risk
			</td>
		</tr>
		<tr>
			<td class="recommendationLevel3">
				a. Statin therapy may be considered in selected individuals&Dagger;
			</td>
			<td class="CORIIb">
				IIb
			</td>
			<td class="LOE-C">
				C
			</td>
		</tr>
		<tr>
			<td class="recommendationLevel2"  colspan="3">
				6.
				Statin therapy is not routinely recommended for individuals with NYHA class II-IV heart failure or who are receiving maintenance
				hemodialysis
			</td>
		</tr>
		<tr>
			<td class="recommendationLevel1" colspan="3">
				C.
				Regularly monitor
				adherence to lifestyle and drug therapy with lipid and safety assessments.
			</td>
		</tr>
		<tr>
			<td class="recommendationLevel2">
				1.
				Assess adherence, response to therapy, and adverse effects within 4-12 wk following statin initiation or change in therapy.
			</td>
			<td class="CORI">
				I
			</td>
			<td class="LOE-A">
				A
			</td>
		</tr>
		<tr>
			<td class="recommendationLevel3">
				a. Measure a fasting lipid panel
			</td>
			<td class="CORI">
				I
			</td>
			<td class="LOE-A">
				A
			</td>
		</tr>
		<tr>
			<td class="recommendationLevel3">
				b. Do not routinely monitor ALT or CK unless symptomatic
			</td>
			<td class="CORIIa">
				IIa
			</td>
			<td class="LOE-C">
				C
			</td>
		</tr>
		<tr>
			<td class="recommendationLevel3">
				c. Screen and treat type 2 diabetes according to current practice guidelines. Heart-healthy lifestyle habits should be encouraged to
				prevent progression to diabetes
			</td>
			<td class="CORI">
				I
			</td>
			<td class="LOE-B">
				B
			</td>
		</tr>
		<tr>
			<td class="recommendationLevel3">
				d. Anticipated therapeutic response approximately &ge;50% reduction in LDL&ndash;C from baseline for high-intensity statin and 30% to &lt;50% for
				moderate-intensity statin
			</td>
			<td class="CORIIa">
				IIa
			</td>
			<td class="LOE-B">
				B
			</td>
		</tr>
		<tr>
			<td class="recommendationLevel3">
				i. Insufficient evidence for LDL&ndash;C or non-HDL-C treatment targets from RCTs
			</td>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td class="recommendationLevel3">
				ii. For those with unknown baseline LDL&ndash;C, an LDL&ndash;C &lt;100 mg/dL was observed in RCTs of high-intensity statin therapy
			</td>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td class="recommendationLevel3">
				e. Less than anticipated therapeutic response:
			</td>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td class="recommendationLevel4">
				i. Reinforce improved adherence to lifestyle and drug therapy
			</td>
			<td class="CORI">
				I
			</td>
			<td class="LOE-A">
				A
			</td>
		</tr>
		<tr>
			<td class="recommendationLevel4">
				ii. Evaluate for secondary causes of hyperlipidemia if indicated
			</td>
			<td class="CORI">
				I
			</td>
			<td class="LOE-A">
				A
			</td>
		</tr>
		<tr>
			<td class="recommendationLevel4">
				iii. Increase statin intensity, or if on maximally-tolerated statin intensity, consider addition of nonstatin therapy in selected high-risk
				individuals&sect;
			</td>
			<td class="CORIIb">
				IIb
			</td>
			<td class="LOE-C">
				C
			</td>
		</tr>
		<tr>
			<td class="recommendationLevel3">
				f. Regularly monitor adherence to lifestyle and drug therapy every 3-12 mo once adherence has been established. Continued assessment of
				adherence for optimal ASCVD risk reduction and safety.
			</td>
			<td class="CORI">
				I
			</td>
			<td class="LOE-A">
				A
			</td>
		</tr>
		<tr>
			<td class="recommendationLevel1" >
				D. In individuals intolerant of the recommended intensity of statin therapy, use the maximally-tolerated intensity of statin.
			</td>
			<td class="CORI">
				I
			</td>
			<td class="LOE-B">
				B
			</td>
		</tr>
		<tr>
			<td class="recommendationLevel2">
				1. If there are muscle or other symptoms, establish that they are related to the statin
			</td>
			<td class="CORIIa">
				IIa
			</td>
			<td class="LOE-B">
				B
			</td>
		</tr>
		<tr>
			<td class="recommendationLevel2" colspan="3">
				2. For specific recommendations on managing muscle symptoms
				<a href="#!/content/clinician-split-layout/clinical_reference_safety_recomendations" class="link">
					(see Statin Safety Recommendations)
				</a>
			</td>
		</tr>
	</tbody>
</table>
<div class="row">
	<p class="quiet">
		<strong>
			*
		</strong>
		Clinical ASCVD includes acute coronary syndromes, history of MI, stable or unstable angina, coronary or other arterial revascularization, stroke, TIA, or
		peripheral arterial disease presumed to be of atherosclerotic origin.
	</p>
	<p class="quiet">
		<strong>
			&dagger;
		</strong>
		Estimated 10-year or &quot;hard&quot; ASCVD risk includes first occurrence of nonfatal MI, CHD death, and nonfatal and fatal stroke as used by the Risk Assessment
		Work Group in developing the Pooled Cohort Equations.
	</p>
	<p class="quiet">
		<strong>
			&Dagger;
		</strong>
		These factors may include primary LDL&ndash;C &ge;160 mg/dL or other evidence of genetic hyperlipidemias; family history of premature ASCVD with onset &lt;55 years
		of age in a first-degree male relative or &lt;65 years of age in a first-degree female relative; hs-CRP &ge;2 mg/L; CAC score &ge;300 Agatston units or &ge;75
		<sup>
			th
		</sup>
		percentile for age, sex, and ethnicity; ABI &lt;0.9; or
		lifetime risk of ASCVD. Additional factors that might aid in individual risk assessment could be identified in the future.
	</p>
	<p class="quiet">
		<strong>
			&sect;
		</strong>
		High-risk individuals include those with clinical ASCVD, an untreated LDL&ndash;C &ge;190 mg/dL suggesting genetic hypercholesterolemia, or diabetes.
	</p>
	<p class="quiet">
		ABI indicates ankle-brachial index; ACC, American College of Cardiology; AHA, American Heart Association; ALT, alanine aminotransferase, a test of hepatic
		function; ASCVD, atherosclerotic cardiovascular disease; CAC, coronary artery calcium; CHD, coronary heart disease; CK, creatine kinase, a test of muscle
		injury; COR, Class of Recommendation; HDL-C, high-density lipoprotein cholesterol; hs-CRP, high-sensitivity C-reactive protein; LDL&ndash;C, low-density
		lipoprotein cholesterol; LOE, Level of Evidence; NHLBI, National Heart, Lung, and Blood Institute; NYHA, New York Heart Association; RCTs, randomized
		controlled trials; and TIA, transient ischemic attack.
	</p>
</div>
