    <div class="column small-12"><h2 class="with-underline">Personal History</h2></div>  
    <div class="small-6 medium-3 large-4 column">
        <div class="label-holder">
            <label for="check-diabetic">
                <span class="text">Diabetic</span>
            </label>
        </div>
        <div class="input-holder">
{% comment %}            <div class="button-group selectable expanded small radius" data-bind="foreach:$root.FormData.diabetic">
                <a href="" style="white-space: nowrap;" class="button small" data-bind="click:function(){appmodel.Form().Diabetic(value)},css:{'selected':$root.Form().Diabetic() == value}" ><i class="fa fa-check"></i><span data-bind="text:label"></span></a>
            </div>{% endcomment %}
            <div class="switch-input-space">
                <div class="switch switch-2x radius small">
                    <input class="switch-input" id="check-diabetic" type="checkbox" name="diabetic" data-bind="checked: Form().Diabetic, checkedValue:'Diabetic'" >
                    <label class="switch-paddle" for="check-diabetic">
                        <span class="show-for-sr">Diabetic</span>
                        <span class="switch-active" aria-hidden="true"> Yes </span>
                        <span class="switch-inactive" aria-hidden="true"> No </span>
                    </label>
                </div>
            </div>
        </div>
        <div class="hint"></div>
    </div>
    <div class="question small-6  medium-3 large-4 column">
        <div class="label-holder">
            <label for="check-smoker">
                <span class="text">Smoker</span>
            </label>
        </div>
        <div class="input-holder">
{% comment %}            <div class="button-group selectable expanded small radius" data-bind="foreach:$root.FormData.smoker">
                <a href="" style="white-space: nowrap;" class="button small" data-bind="click:function(){appmodel.Form().Smoker(value)},css:{'selected':$root.Form().Smoker() == value}" ><i class="fa fa-check"></i><span data-bind="text:label"></span></a>
            </div>{% endcomment %}
            
            <div class="switch-input-space">
                <div class="switch switch-2x radius small">
                    <input class="switch-input" id="check-smoker" type="checkbox" name="smoker" data-bind="checked: Form().Smoker, checkedValue:'Smoker'" >
                    <label class="switch-paddle" for="check-smoker">
                        <span class="show-for-sr">Smoker</span>
                        <span class="switch-active" aria-hidden="true">
                        Yes
                        </span>
                        <span class="switch-inactive" aria-hidden="true">
                        No
                        </span>
                    </label>
                </div>
            </div>
            
        </div>
        <div class="hint"></div>
    </div>
    <div class="question small-6  medium-6 large-4 column end">
        <div class="label-holder">
            <label for="check-hypertension">
                <span class="text">Treatment for Hypertension</span>
            </label>
        </div>
        <div class="input-holder">

            
{% comment %}                <div class="button-group selectable expanded small radius expanded" data-bind="foreach:$root.FormData.diabetic">
                    <a href="" style="white-space: nowrap;" class="button small" data-bind="click:function(){appmodel.Form().Hypertension(value)},css:{'selected':$root.Form().Hypertension() == value}" ><i class="fa fa-check"></i><span data-bind="text:label"></span></a>
                </div>{% endcomment %}
               
               <div class="switch-input-space"> 
                <div class="switch switch-2x radius small">
                    <input class="switch-input" id="check-hypertension" type="checkbox" name="hypertension" data-bind="checked: Form().Hypertension, checkedValue:'Hypertension'">
                    <label class="switch-paddle" for="check-hypertension">
                        <span class="show-for-sr">Hypertension Treatment</span>
                        <span class="switch-active" aria-hidden="true">
                        Yes
                        </span>
                        <span class="switch-inactive" aria-hidden="true">
                        No
                        </span>
                    </label>
                </div></div> 
                      
            
        </div>
        <div class="hint"></div>
    </div>

