<h1 class="with-underline">
    Blood Cholesterol Management Recommendations
</h1>
<p>
    The American College of Cardiology (ACC) and the American Heart Association (AHA) recently developed new standards for treating blood cholesterol. These recommendations are based on a thorough and careful review of the very latest, highest quality clinical trial research. They help care providers deliver the best care possible. This page provides some of the highlights from the new practice guidelines. The ultimate goal of the new cholesterol practice guidelines is to reduce a person's risk of heart attack, stroke and death. For this reason, the focus is not just on measuring and treating cholesterol, but identifying whether someone already has or is at risk for atherosclerotic cardiovascular disease (ASCVD) and could benefit from treatment.
</p>
<h3>
    What is ASCVD?
</h3>
<p>
    Heart attack and stroke are usually caused by atherosclerotic cardiovascular disease (ASCVD). ASCVD develops because of a build-up of sticky cholesterol-rich plaque. Over time, this plaque can harden and narrow the arteries.
</p>
<p>
    These practice guidelines outline the most effective treatments that lower blood cholesterol in those individuals most likely to benefit. Most importantly, they were selected as the best strategies to lower cholesterol to help reduce future heart attack or stroke risk. Share this information with your health care provider so that you can ask questions and work together to decide what is right for you.
</p>
<h3>
    Key Points
</h3>
<p>
    Based on the most up-to-date and complete look at available clinical trial results:
</p>
<ul>
    <li>
        <p>
            Health care providers should focus on identifying those people who are most likely to have a heart attack or stroke and make sure they are given effective treatment to reduce their risk.
        </p>
    </li>
    <li>
        <p>
            Cholesterol should be considered along with other factors known to make a heart attack or stroke more likely.
        </p>
    </li>
    <li>
        <p>
            Knowing your risk of heart attack and stroke can help you and your health care provider decide whether you may need to take a medication&mdash;most likely a statin&mdash;to lower that risk.
        </p>
    </li>
    <li>
        <p>
            If a medication is needed, statins are recommended as the first choice to lower heart attack and stroke risk among certain higher-risk patients based on an overwhelming amount of evidence. For those unable to take a statin, there are other cholesterol-lowering drugs; however, there is less research to support their use.
        </p>
    </li>
</ul>
<h3>
    Evaluating Your Risk
</h3>
<p>
    Your health care provider will first want to assess your risk of ASCVD (assuming you don't already have it). This information will help determine if you are at high enough risk of a heart attack or stroke to need treatment.
</p>
<p>
    To do this, your care provider will 1) review your medical history and 2) gauge your overall risk for heart attack or stroke. He/she will likely want to know:
</p>
<ul>
    <li>
        <p>
            whether you have had a heart attack, stroke or blockages in the arteries of your heart, neck, or legs.
        </p>
    </li>
    <li>
        <p>
            your risk factors. In addition to your total cholesterol, LDL cholesterol, and HDL (so-called "good") cholesterol, your health care provider will consider your age, if you have diabetes, and whether you smoke and/or have high blood pressure.
        </p>
    </li>
    <li>
        <p>
            about your lifestyle habits, other medical conditions, any previous drug treatments, and if anyone in your family has high cholesterol or suffered a heart attack or stroke at an early age.
        </p>
    </li>
</ul>
<p>
    A lipid or blood cholesterol panel will be needed as part of this evaluation. This blood test measures the amount of fatty substances (called lipids) in your blood. You may have to fast (not eat for a period of time) before having your blood drawn.
</p>
<p>
    If there is any question about your risk of ASCVD, or whether you might benefit from drug therapy, your care provider may make additional assessments or order additional tests. The results of these tests can help you and your health care team decide what might be the best treatment for you. These tests may include:
</p>
<ul>
    <li>
        <p>
            <strong>
                Lifetime risk estimates
            </strong>
            &mdash;how likely you are to have a heart attack and stroke during your lifetime
        </p>
    </li>
    <li>
        <p>
            <strong>
                Coronary artery calcium (CAC) score
            </strong>
            &mdash;a test that shows the presence of plaque or fatty build-up in the heart artery walls
        </p>
    </li>
    <li>
        <p>
            <strong>
                High-sensitivity C-Reactive Protein (CRP)
            </strong>
            &mdash;a blood test that measures the amount of CRP, a marker of inflammation or irritation in the body; higher levels have been associated with heart attack and stroke
        </p>
    </li>
    <li>
        <p>
            <strong>
                Ankle-brachial index (ABI)
            </strong>
            &mdash;the ratio of the blood pressure in the ankle compared to blood pressure in the arm, which can predict peripheral artery disease (PAD)
        </p>
    </li>
</ul>
<p>
    If you have very high levels of low-density lipoprotein (LDL or "bad") cholesterol, your care provider may want to find out if you have a genetic or familial form of hypercholesterolemia. This condition can be passed on in families.
</p>
<h3>
    Your Treatment Plan
</h3>
<p>
    Before coming up with a specific treatment plan, your care provider will talk with you about options for lowering your blood cholesterol and reducing your personal risk of atherosclerotic disease. This will likely include a discussion about heart-healthy living and whether you might benefit from a cholesterol-lowering medication.
</p>
<h3>
    Heart-Healthy Lifestyle
</h3>
<p>
    Adopting a heart-healthy lifestyle continues to be the first and best way to lower your risk of problems. Doing so can also help control or prevent other risk factors (for example: high blood pressure or diabetes). Experts suggest:
</p>
<ul>
    <li>
        <p>
            <strong>
                Eating a diet rich in vegetables, fruits, and whole grains
            </strong>
            ; this also includes low-fat dairy products, poultry, fish, legumes, and nuts; it limits intake of sweets, sugar-sweetened beverages and red meats.
        </p>
    </li>
    <li>
        <p>
            <strong>
                Getting regular exercise
            </strong>
            ; check with your health care provider about how often and how much is right for you.
        </p>
    </li>
    <li>
        <p>
            <strong>
                Maintaining a healthy weight
            </strong>
            .
        </p>
    </li>
    <li>
        <p>
            <strong>
                Not smoking or getting help quitting
            </strong>
            .
        </p>
    </li>
    <li>
        <p>
            <strong>
                Staying on top of your health
            </strong>
            , risk factors and medical appointments. For some people, lifestyle changes alone may not be enough to prevent a heart attack or stroke. In these cases, taking a statin at the right dose will most likely be necessary.
        </p>
    </li>
</ul>
<h3>
    Medications
</h3>
<p>
    There are two types of cholesterol-lowering medications: statins and non-statins.
</p>
<h3>
    Statin Therapy
</h3>
<p>
    There is a large body of evidence that shows the use of a statin provides the greatest benefit and fewest safety issues. In particular, specific groups of patients appear to benefit most from taking moderate or high-intensity statin therapy. Based on this information, your care provider will likely recommend a statin if you have:
</p>
<ul>
    <li>
        <p>
            ASCVD
        </p>
    </li>
    <li>
        <p>
            Very high LDL cholesterol (190 mg/dL or higher)
        </p>
    </li>
    <li>
        <p>
            Type 2 diabetes and are between 40 and 75 years of age
        </p>
    </li>
    <li>
        <p>
            Above a certain likelihood of having a heart attack or stroke in the next 10 years (7.5% or higher) and are between 40 and 75 years of age
        </p>
    </li>
</ul>
<p>
    In certain cases, your care provider may still recommend a statin even if you don't fit into one of the groups above. He/she will consider your overall health and other factors to help decide if you are at enough risk to benefit from a statin. Based on the guidelines, these may include:
</p>
<ul>
    <li>
        <p>
            Family history of premature heart attack or stroke
        </p>
    </li>
    <li>
        <p>
            Your lifetime risk of ASCVD
        </p>
    </li>
    <li>
        <p>
            LDL-cholesterol &ge;160 mg/dL
        </p>
    </li>
    <li>
        <p>
            hs-CRP &ge;2 mg/L
        </p>
    </li>
    <li>
        <p>
            Results from other special testing (CAC scoring, ABI)
        </p>
    </li>
</ul>
<h3>
    If you are on a statin, your care provider will need to find the dose that is right for you.
</h3>
<ul>
    <li>
        <p>
            People who have had a heart attack, stroke or other types of ASCVD tend to benefit the most from taking the highest amount (dose) of statin therapy if they tolerate it. This may be more appropriate than taking multiple drugs to lower cholesterol.
        </p>
    </li>
    <li>
        <p>
            A more moderate dose of statin may be appropriate for some people with ASCVD, such as those over 75 years or those that might have problems taking the highest dose of a statin (i.e., those with prior organ transplantation).
        </p>
    </li>
</ul>
<p>
    Sometimes more than one statin needs to be tried before finding the one that works best.
</p>
<p>
    If you are 75 years or older and have not already had a heart attack, stroke or other types of ASCVD, your care provider will discuss whether a statin is right for you.
</p>
<h3>
    Other cholesterol-lowering medications
</h3>
<p>
    Not all patients will be able to take the optimum dose of statin. After attention to lifestyle changes and statin therapy, non-statin drugs may be considered if you have high-risk with known ASCVD, diabetes, or very high LDL cholesterol values (&ge;190 mg/dL) and:
</p>
<ul>
    <li>
        <p>
            Have side effects from statins that prevent you from getting to the optimal dose or are not able to take a statin at all.
        </p>
    </li>
    <li>
        <p>
            Are limited from taking an optimal dose due to other drugs that you are taking, including:
        </p>
        <ul>
            <li>
                <p>
                    Transplant drug regimens to prevent rejection
                </p>
            </li>
            <li>
                <p>
                    Multiple drugs to treat HIV
                </p>
            </li>
            <li>
                <p>
                    Some antibiotics like erythromycin and clarithromycin or certain oral anti-fungal drugs
                </p>
            </li>
        </ul>
    </li>
</ul>
<p>
    As always, it's important to talk with your health care provider about which medication is right for you.
</p>
<h3>
    What About Having Goals of Treatment?
</h3>
<p>
    Although keeping LDL-cholesterol lower with an optimal dose of statin is supported strongly by clinical trials, getting to a specific goal level is not.
</p>
<h3>
    Staying on Top of Your Risk
</h3>
<ul>
    <li>
        <p>
            <strong>
                Take steps to lower your risk factors for heart attack, stroke and other problems
            </strong>
            &mdash;Make healthy choices (eating a healthy diet, getting exercise, maintaining a healthy weight and not smoking). Drug therapy, if needed, can help control risk factors.
        </p>
    </li>
    <li>
        <p>
            <strong>
                Report side effects
            </strong>
            &mdash;Muscle aches are commonly reported and may or may not be due to the statin. If you are having problems, your care provider needs to know to help manage any side effects and possibly switch you to a different statin.
        </p>
    </li>
    <li>
        <p>
            <strong>
                Take your medications as directed
            </strong>
            .
        </p>
    </li>
    <li>
        <p>
            <strong>
                Get blood cholesterol and other tests
            </strong>
            that are recommended by your health care team. These can help assess whether statin therapy&mdash;and the dose&mdash;is working for you.
        </p>
    </li>
</ul>
<h3>
    Questions to Ask
</h3>
<ul>
    <li>
        <p>
            What are my risk factors for heart attack and stroke? Am I on the best prevention program to minimize this risk?
        </p>
    </li>
    <li>
        <p>
            Is my cholesterol high enough that it might be due to a genetic condition?
        </p>
    </li>
    <li>
        <p>
            What lifestyle changes can I make to stay healthy and prevent problems?
        </p>
    </li>
    <li>
        <p>
            Do I need to be on a statin?
        </p>
    </li>
    <li>
        <p>
            How do I monitor how I am doing?
        </p>
    </li>
    <li>
        <p>
            What should I do if I develop muscle aches or weakness after starting the statin?
        </p>
    </li>
    <li>
        <p>
            What do I do if I have other symptoms after starting the statin?
        </p>
    </li>
</ul>
<p class="quiet">
    Source:
    <a class="link" href="https://www.cardiosmart.org/Heart-Conditions/Guidelines/Cholesterol">
        www.cardiosmart.org
    </a>
</p>
