<h1  class="with-underline">
    Weight Management Recommendations
</h1>
<p>
    The "2013 AHA/ACC/TOS Guideline for the Management of Overweight and Obesity in Adults" was created to reflect the latest research to outline best practices when it comes to treating obesity--a condition that affects more than one-third of American adults. These guidelines help address questions like "What's the best way to lose weight?" and "When is bariatric surgery appropriate?". Here is what every patient should know about the treatment of overweight and obesity:
</p>
<ul>
    <li>
        <p>
            <strong>
                Definition of obesity:
            </strong>
            Obesity is a medical condition in which excess body fat has accumulated to the extent that it can have an adverse effect on one's health. Obesity can be diagnosed using body mass index (BMI), a measurement of height and weight, as well as waist circumference. Obesity is categorized as having a BMI of 30 or greater. Abdominal obesity is defined as having a waist circumference greater than 40 inches for a man or 35 inches for a woman.
        </p>
    </li>
    <li>
        <p>
            <strong>
                Benefits of weight loss:
            </strong>
            Obesity increases the risk for serious conditions such as cardiovascular disease, diabetes and death, but losing just a little bit of weight can result in significant health benefits. For an adult who is obese, losing just 3-5% of body weight can improve blood pressure and cholesterol levels and reduce the risk for cardiovascular disease and diabetes. Ideally, care providers recommend 5-10% weight loss for obese adults, which can produce even greater health benefits.
        </p>
    </li>
    <li>
        <p>
            <strong>
                Weight loss strategies:
            </strong>
            There is no single diet or weight loss program that works best for all patients. In general, reduced caloric intake and a comprehensive lifestyle intervention involving physical activity and behavior modification tailored according to a patient's preferences and health status is most successful for sustained weight loss. Further, weight loss interventions should include frequent visits with health care providers and last more than one year for sustained weight loss.
        </p>
    </li>
    <li>
        <p>
            <strong>
                Bariatric Surgery:
            </strong>
            Bariatric surgery may be a good option for severely obese patients to reduce their risk of health complications and improve overall health. However, bariatric surgery should be reserved for only the highest risk patients until more evidence is available on this issue. Present guidelines advise that weight loss surgery is only recommended for patients with extreme obesity (BMI &ge;40) or in patients that have a BMI &ge;35 in addition to a chronic health condition.
        </p>
    </li>
</ul>
<p class="quiet">
    Source:
    <a class="link" href="https://www.cardiosmart.org/Heart-Conditions/Guidelines/Obesity">
        www.cardiosmart.org
    </a>
</p>
