<h1  class="with-underline">
    Diet and Physical Activity Recommendations
</h1>
<p>
    The "2013 AHA/ACC Guideline on Lifestyle Management to Reduce Cardiovascular Risk" provides recommendations for heart-healthy lifestyle choices based on the latest research and evidence. The guidelines focus on two important lifestyle choices--diet and physical activity--which can have a drastic impact on cardiovascular health. Here's what every patient should know about the latest recommendations for reducing cardiovascular disease risk through diet and exercise.
</p>
<h3>
    Diet
</h3>
<ul>
    <li>
        Diet is a vital tool for lowering cholesterol and blood pressure levels, which are two major risk factors for cardiovascular disease.
    </li>
    <li>
        Patients with high cholesterol and high blood pressure levels should eat plenty of vegetables, fruits and whole grains and incorporate low-fat dairy products, poultry, fish, legumes, non-tropical vegetable oils and nuts into their diet. They should also limit intake of sweets, sugar-sweetened beverages and red meats.
    </li>
    <li>
        There are many helpful strategies for heart-healthy eating, including the DASH diet and the USDA's Choose My Plate.
    </li>
    <li>
        Patients who need to lower their cholesterol should reduce saturated and trans fat intake. Ideally, only 5-6% of daily caloric intake should come from saturated fat.
    </li>
    <li>
        Patients with high blood pressure should consume no more than 2,400 mg of sodium a day, ideally reducing sodium intake to 1,500 mg a day. However, even reducing sodium intake in one's current diet by 1,000 mg each day can help lower blood pressure.
    </li>
    <li>
        It's important to adapt the recommendations above, keeping in mind calorie requirements, as well as, personal and cultural food preferences. Nutrition therapy for other conditions like diabetes should also be considered. Doing so helps create healthy eating patterns that are realistic and sustainable.
    </li>
</ul>
<h3>
    Physical Activity
</h3>
<ul>
    <li>
        Regular physical activity helps lower cholesterol and blood pressure, reducing the risk for cardiovascular disease.
    </li>
    <li>
        In general, adults should engage in aerobic physical activity 3-4 times a week with each session lasting an average of 40 minutes.
    </li>
    <li>
        Moderate (brisk walking or jogging) to vigorous (running or biking) physical activity is recommended to reduce cholesterol levels.
    </li>
</ul>
<p class="quiet">
    Source:
    <a class="link" href="https://www.cardiosmart.org/Heart-Conditions/Guidelines/Lifestyle">
        www.cardiosmart.org
    </a>
</p>
