<h1  class="with-underline">
	Understanding My Cardiovascular Risk
</h1>
<p>
	The "2013 ACC/AHA Guideline on the Assessment of Cardiovascular Risk" provides clear recommendations for estimating cardiovascular disease risk. Risk assessments are extremely useful when it comes to reducing risk for cardiovascular disease because they help determine whether a patient is at high risk for cardiovascular disease, and if so, what can be done to address any cardiovascular risk factors a patient may have. Here are the highlights of the guideline:
</p>
<ul>
	<li>
		<p>
			Risk assessments are used to determine the likelihood of a patient developing cardiovascular disease, heart attack or stroke in the future. In general, patients at higher risk for cardiovascular disease require more intensive treatment to help prevent the development of cardiovascular disease.
		</p>
	</li>
	<li>
		<p>
			Risk assessments are calculated using a number of factors including age, gender, race, cholesterol and blood pressure levels, diabetes and smoking status, and the use of blood pressure-lowering medications. Typically, these factors are used to estimate a patient's risk of developing cardiovascular disease in the next 10 years. For example, someone who is young with no risk factors for cardiovascular disease would have a very low 10-year risk for developing cardiovascular disease. However, someone who is older with risk factors like diabetes and high blood pressure will have a much higher risk of developing cardiovascular disease in the next 10 years.
		</p>
	</li>
	<li>
		<p>
			If a preventive treatment plan is unclear based on the calculation of risk outlined above, care providers should take into account other factors such as family history and level of C-reactive protein. Taking this additional information into account should help inform a treatment plan to reduce a patient's 10-year risk of developing cardiovascular disease.
		</p>
	</li>
	<li>
		<p>
			Calculating the 10-year risk for cardiovascular disease using traditional risk factors is recommended every 4-6 years in patients 20-79 years old who are free from cardiovascular disease. However, conducting a more detailed 10-year risk assessment every 4-6 years is reasonable in adults ages 40-79 who are free of cardiovascular disease. Assessing a patient's 30-year risk of developing cardiovascular disease can also be useful for patients 20-59 years of age who are free of cardiovascular disease and are not at high short-term risk for cardiovascular disease.
		</p>
	</li>
	<li>
		<p>
			Risk estimations vary drastically by gender and race. Patients with the same traditional risk factors for cardiovascular disease such as high blood pressure can have a different 10-year risk for cardiovascular disease as a result of their sex and race.
		</p>
	</li>
	<li>
		<p>
			After care providers and patients work together to conduct a risk assessment, it's important that they discuss the implications of their findings. Together, patients and their care providers should weigh the risks and benefits of various treatments and lifestyle changes to help reduce the risk of developing cardiovascular disease.
		</p>
	</li>
</ul>
<p class="quiet">
	Source:
	<a class="link" href="https://www.cardiosmart.org/Heart-Conditions/Guidelines/Risk-Assessment">
		www.cardiosmart.org
	</a>
</p>
