<div class="row">
    <h1>Groups that Benefit from Statin Therapy Infographic</h1>
</div>
<div class="holder" style="position: relative">
    <div class="parent panzoom">
        <div class="panzoom-element">
            <img src="assets/img/squared_metal_@2X.png" data-src="assets/graphics/Benifit-Group-Infographic.svg" alt="Groups that benifit from Statins" style="width:100%">
        </div>
	</div>
    <div class="button-group small panzoom-buttons expanded">
        <button class="zoom-in button icon-only  secondary" formnovalidate> <i class="fa fa-plus-circle"></i> <span class="text">Zoom In</span></button>
        <button class="zoom-out button icon-only  secondary" formnovalidate><i class="fa fa-minus-circle"></i> <span class="text">Zoom Out</span></button>
        <button class="reset ui-btn button icon-only  secondary" formnovalidate><i class="fa fa-refresh"></i> <span class="text">Reset</span></button>
    </div>
</div>
        
        