<!--[if lt IE 10]>
	<DIV class="content-padding">
		<DIV class="callout warning" style="padding:1em;margin-top:.75em;margin-bottom:1em;">
			<H1>The ASCVD Risk Estimator Is Not Fully Supported For Your Browser Version</H1>
			<P>The App will work fully on modern browsers such as the latest versions Internet Explorer and higher, Chrome, Firefox or Safari.</P>
			<P>The system will also display well on mobile devices such as iPhones, iPads, and Android phones and tablets.</P>
		</DIV>
	</DIV>
<![endif]-->