<footer class="footer page">
	<a href="#!/calulate/estimator/" class="logo ">
		<img style="border:none 0;" src="assets/img/logo-footer-medium.svg" alt="ACC Statin Intolerance Guidelines" class="show-medium">
		<img style="border:none 0;" src="assets/img/logo-footer.svg" alt="ACC Statin Intolerance Guidelines" class="show-small">
	</a>
	<ul class="nav tabs tabs-primary reverse swappable">
		{% comment %} <li id="clinician-Tab">
			 <a href="#!/content/clinician/" onclick="gaWrapper('send', 'event', 'Navigate', 'Clicked tab', 'Clinician');">
			Clinician
			</a>
	    </li>
	    <li id="patient-Tab">
			 <a href="#!/content/patient/" onclick="gaWrapper('send', 'event', 'Navigate', 'Clicked tab', 'Patients');">
			Patient
			</a>
	    </li>{% endcomment %}
		<li class="disclaimer-Tab"class="">
			<a href="#!/content/disclaimer" onclick="gaWrapper('send', 'event', 'Navigate', 'Clicked tab', 'Disclaimer');">
			<span class="short-text">Disclaimer</span>
			<span class="long-text">Disclaimer</span>
			</a>
		</li>
		<li class="about-Tab"class="">
			<a href="#!/content/about/about-index" onclick="gaWrapper('send', 'event', 'Navigate', 'Clicked tab', 'About')">
			<span class="short-text">About</span>
			<span class="long-text">About the App</span>
			</a>
		</li>
	</ul>
</footer>