<div  data-bind="page: {id:'credit',  afterShow:subtabchange}" >
    <h1 class="with-underline">Application Credits</h1>
    <h2>2013 ACC/AHA Guideline on the Assessment of Cardiovascular Risk</h2>
    <div class="row">
        <span class="no-word-wrap">David C. Goff, MD, PhD, FACP, FAHA</span>
        <span class="no-word-wrap"><strong>&bull;</strong> Donald M. Lloyd-Jones, MD, ScM, FACC, FAHA</span>
        <span class="no-word-wrap"><strong>&bull;</strong> Glen Bennett, MPH</span>
        <span class="no-word-wrap"><strong>&bull;</strong> Christopher J. O'Donnell, MD, MPH</span>
        <span class="no-word-wrap"><strong>&bull;</strong> Sean Coady, MS</span>
        <span class="no-word-wrap"><strong>&bull;</strong> Jennifer Robinson, MD, MPH, FAHA</span>
        <span class="no-word-wrap"><strong>&bull;</strong> Ralph B. D'Agostino,Sr, PhD, FAHA</span>
        <span class="no-word-wrap"><strong>&bull;</strong> J. Sanford Schwartz, MD</span>
        <span class="no-word-wrap"><strong>&bull;</strong> Raymond Gibbons, MD, FACC, FAHA</span>
        <span class="no-word-wrap"><strong>&bull;</strong> Susan T. Shero, MS, RN</span>
        <span class="no-word-wrap"><strong>&bull;</strong> Philip Greenland, MD, FACC, FAHA</span>
        <span class="no-word-wrap"><strong>&bull;</strong> Sidney C. Smith, MD, FACC, FAHA</span>
        <span class="no-word-wrap"><strong>&bull;</strong> Daniel T. Lackland, DrPH, FAHA</span>
        <span class="no-word-wrap"><strong>&bull;</strong> Paul Sorlie, PhD</span>
        <span class="no-word-wrap"><strong>&bull;</strong> Daniel Levy, MD</span>
        <span class="no-word-wrap"><strong>&bull;</strong> Neil J. Stone, MD, FACC, FAHA</span>
        <span class="no-word-wrap"><strong>&bull;</strong> Peter W.F. Wilson, MD, FAHA</span>
    </div>
    <h2>2013 ACC/AHA Guideline on the Treatment of Blood Cholesterol to Reduce Atherosclerotic Cardiovascular Risk in Adults</h2>
    <div class="row">
        <span class="no-word-wrap">Neil J. Stone, MD, MACP, FAHA, FACC</span>
        <span class="no-word-wrap"><strong>&bull;</strong> Jennifer Robinson, MD, MPH, FAHA</span>
        <span class="no-word-wrap"><strong>&bull;</strong> Alice H. Lichtenstein, DSc, FAHA</span>
        <span class="no-word-wrap"><strong>&bull;</strong> C. Noel Bairey Merz, MD, FAHA, FACC</span>
        <span class="no-word-wrap"><strong>&bull;</strong> Donald M. Lloyd-Jones, MD, ScM, FACC, FAHA</span>
        <span class="no-word-wrap"><strong>&bull;</strong> Conrad B. Blum, MD, FAHA</span>
        <span class="no-word-wrap"><strong>&bull;</strong> Patrick McBride, MD, MPH, FAHA</span>
        <span class="no-word-wrap"><strong>&bull;</strong> Robert H. Eckel, MD, FAHA</span>
        <span class="no-word-wrap"><strong>&bull;</strong> J. Sanford Schwartz, MD</span>
        <span class="no-word-wrap"><strong>&bull;</strong> Anne C. Goldberg, MD, FACP, FAHA</span>
        <span class="no-word-wrap"><strong>&bull;</strong> Susan T. Shero, MS, RN</span>
        <span class="no-word-wrap"><strong>&bull;</strong> David Gordon, MD</span>
        <span class="no-word-wrap"><strong>&bull;</strong> Sidney C. Smith</span>
        <span class="no-word-wrap"><strong>&bull;</strong> Daniel Levy, MD</span>
        <span class="no-word-wrap"><strong>&bull;</strong> Karol Watson, MD, PhD, FACC, FAHA</span>
        <span class="no-word-wrap"><strong>&bull;</strong> Peter W.F. Wilson, MD, FAHA</span>
    </div>
    <h2>2013 AHA/ACC/TOS Guideline for the Management of Overweight and Obesity in Adults</h2>
    <div class="row">      
            <span class="no-word-wrap">Michael D. Jensen, MD</span>
            <span class="no-word-wrap"><strong>&bull;</strong> Donna H. Ryan, MD</span>
            <span class="no-word-wrap"><strong>&bull;</strong> Caroline M. Apovian, MD, FACP</span>
            <span class="no-word-wrap"><strong>&bull;</strong> Catherine M. Loria, PhD, FAHA</span>
            <span class="no-word-wrap"><strong>&bull;</strong> Jamy D. Ard, MD</span>
            <span class="no-word-wrap"><strong>&bull;</strong> Barbara E. Millen, DrPH, RD</span>
            <span class="no-word-wrap"><strong>&bull;</strong> Anthony G. Comuzzie, PhD</span>
            <span class="no-word-wrap"><strong>&bull;</strong> Cathy A. Nonas, MS, RD</span>
            <span class="no-word-wrap"><strong>&bull;</strong> Karen A. Donato, SM</span>
            <span class="no-word-wrap"><strong>&bull;</strong> F. Xavier Pi-Sunyer, MD, MPH</span>
            <span class="no-word-wrap"><strong>&bull;</strong> Frank B. Hu, MD, PhD, FAHA</span>
            <span class="no-word-wrap"><strong>&bull;</strong> June Stevens, PhD</span>
            <span class="no-word-wrap"><strong>&bull;</strong> Van S. Hubbard, MD, PhD</span>
            <span class="no-word-wrap"><strong>&bull;</strong> Victor J. Stevens, PhD</span>
            <span class="no-word-wrap"><strong>&bull;</strong> John M. Jakicic, PhD</span>
            <span class="no-word-wrap"><strong>&bull;</strong> Thomas A. Wadden, PhD</span>
            <span class="no-word-wrap"><strong>&bull;</strong> Robert F. Kushner, MD</span>
            <span class="no-word-wrap"><strong>&bull;</strong> Bruce M. Wolfe, MD</span>
            <span class="no-word-wrap"><strong>&bull;</strong> Susan Z. Yanovski, MD</span>
        </div>
        <h2>2013 AHA/ACC Guideline on Lifestyle Management to Reduce Cardiovascular Risk</h2>
        <div class="row">
            <span class="no-word-wrap">Robert H. Eckel, MD, FAHA</span>
            <span class="no-word-wrap"><strong>&bull;</strong> John M. Jakicic, PhD</span>
            <span class="no-word-wrap"><strong>&bull;</strong> Jamy D. Ard, MD</span>
            <span class="no-word-wrap"><strong>&bull;</strong> Nancy Houston</span>
            <span class="no-word-wrap"><strong>&bull;</strong> Miller, RN, BSN, FAHA</span>
            <span class="no-word-wrap"><strong>&bull;</strong> Van S. Hubbard, MD, PhD</span>
            <span class="no-word-wrap"><strong>&bull;</strong> Cathy A. Nonas, MS, RD</span>
            <span class="no-word-wrap"><strong>&bull;</strong> Janet M.</span>
            <span class="no-word-wrap"><strong>&bull;</strong> de Jesus, MS, RD</span>
            <span class="no-word-wrap"><strong>&bull;</strong> Frank M. Sacks, MD, FAHA</span>
            <span class="no-word-wrap"><strong>&bull;</strong> I-Min Lee, MD, ScD</span>
            <span class="no-word-wrap"><strong>&bull;</strong> Sidney C. Smith</span>
            <span class="no-word-wrap"><strong>&bull;</strong> Alice H. Lichtenstein, DSc, FAHA</span>
            <span class="no-word-wrap"><strong>&bull;</strong> Laura P. Svetkey, MD, MHS</span>
            <span class="no-word-wrap"><strong>&bull;</strong> Catherine M. Loria, PhD, FAHA</span>
            <span class="no-word-wrap"><strong>&bull;</strong> Thomas W. Wadden, PhD</span>
            <span class="no-word-wrap"><strong>&bull;</strong> Barbara E. Millen, DrPH, RD, FADA</span>
            <span class="no-word-wrap"><strong>&bull;</strong> Susan Z. Yanovski, MD</span>
        </div>
    <h2>Application Development Credits</h2>
    <div class="row">
        <p>Concepts for this application adapted from the Cardiac Risk Assist App developed by Tin T.D. Nguyen, MD.</p>
        <p class="bold">Special Thanks to the ACC Best Practice Quality Improvement Subcommittee, whose members have provided content development and review</p>
    </div>
</div>